<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Conn" value="Provider=SQLOLEDB.1;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Postal;Data Source=SEAN-HP"/>
    <add key="StartDate" value="2013-01-14 00:00:00.000" />
    <add key="EndDate" value="2013-01-20 00:00:00.000"/>
    <add key="Type" value="SCF"/>
  </appSettings>
</configuration>